@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
}

a {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #18121E;
}

.header_container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #18121E;
}

.title-1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
}

.title-2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
}

@media screen and (max-width: 759px) {
  .title-2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: normal;
    margin-bottom: 32px;
    text-align: left;
  }
}
.note {
  font-size: 24px;
  line-height: 0.83;
  color: #F2BE22;
}

@media screen and (max-width: 759px) {
  .note {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
  }
}
.d-none {
  display: none;
}

/* *******************
Select c dropdown на JS
******************* */
.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.dropdown__button:focus, .dropdown__button--active {
  outline: none;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  /* Рисуем треугольник */
  width: 20px;
  height: 20px;
  background-image: url("/graphic/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* Снимаем клик с треугольника */
  pointer-events: none;
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: transparent;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  z-index: 99;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  border: 1px solid white;
  color: black;
  background-color: #f1f1f1;
  border-bottom: 0px;
  padding: 13px 20px;
  cursor: pointer;
}

.dropdown__list-item:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
  border-radius: 0 0 6px 6px;
}

.dropdown__list-item:hover {
  background-color: white;
}

.dropdown__input-hidden {
  display: none;
}

.about-us {
  padding: 100px 0;
  background-color: #fff;
}

@media screen and (max-width: 1209px) {
  .about-us {
    padding-top: 50px;
  }
}
.about-us__wrp {
  display: flex;
  column-gap: 120px;
}

@media screen and (max-width: 1209px) {
  .about-us__wrp {
    column-gap: 40px;
  }
}
@media screen and (max-width: 759px) {
  .about-us__wrp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }
}
@media screen and (max-width: 759px) {
  .about-us__content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 759px) {
  .about-us__inf {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
  }
}
.about-us__title {
  margin-top: 8px;
}

@media screen and (max-width: 759px) {
  .about-us__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
.about-us__text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 150%;
}

@media screen and (max-width: 1209px) {
  .about-us__text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 759px) {
  .about-us__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
  }
}
@media screen and (max-width: 759px) {
  .btn.about-us__btn {
    margin: 0 auto;
  }
}
.about-us__video {
  position: relative;
  padding-top: 126px;
  padding-left: 130px;
}

@media screen and (max-width: 1209px) {
  .about-us__video {
    padding: 0;
  }
}
@media screen and (max-width: 759px) {
  .about-us__video {
    order: 1;
  }
}
.about-us__video-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
  z-index: 1;
}

.about-us__video-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1209px) {
  .about-us__video-bg {
    display: none;
  }
}
.about-us__lightbox {
  position: relative;
  display: block;
  width: 350px;
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
  z-index: 2;
}

.about-us__lightbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in;
}

.about-us__lightbox:hover .about-us__lightbox-btn {
  transform: translate(-50%, -50%) scale(1.3);
  background-color: rgba(253, 253, 253, 0.8);
  z-index: 5;
}

.about-us__lightbox:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.3);
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about-us__lightbox:hover:hover::before {
  opacity: 1;
}

.about-us__lightbox-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 14px;
  background-color: rgba(253, 253, 253, 0.6);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.blog {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F3F5F4;
}

@media screen and (max-width: 759px) {
  .blog {
    padding: 50px 0;
  }
}
.blog__wrp {
  text-align: center;
}

.blog__note {
  margin-bottom: 8px;
}

.blog__title {
  margin-bottom: 40px;
}

@media screen and (max-width: 759px) {
  .blog__title {
    margin-bottom: 32px;
  }
}
.blog__places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1209px) {
  .blog__places {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 32px;
  }
}
.btn {
  display: inline-block;
  padding: 16px 36px;
  background-color: #1A3E3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0, 192px;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  border: 1.5px solid;
  border-color: #1A3E3E;
  color: #fff;
}

.btn:hover {
  border: 1.5px solid;
  background-color: white;
  color: #1A3E3E;
  border-color: #1A3E3E;
}

.btn_small {
  padding: 12px 24px;
}

.direct {
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1209px) {
  .direct {
    padding: 50px 0;
  }
}
.direct__wrp {
  text-align: center;
}

.direct__title {
  margin-top: 8px;
  margin-bottom: 50px;
}

.direct__btn {
  margin-top: 50px;
}

.direct__carousel-item {
  position: relative;
  width: 380px;
  height: 500px;
  border-radius: 32px;
  overflow: hidden;
}

@media screen and (max-width: 759px) {
  .direct__carousel-item {
    height: 400px;
    width: 285px;
  }
}
.direct__carousel-rait {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 50px;
  right: 0;
  display: flex;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.direct__carousel-star {
  display: inline-block;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  background-image: url("/graphic/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.direct__carousel-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.direct__carousel-img img {
  height: 100%;
}

.direct__carousel-content {
  position: relative;
  z-index: 6;
  padding: 30px 32px 20px;
  color: #fff;
  text-align: left;
  left: 0;
  top: 0;
  transition: top 1s ease;
  width: 100%;
}

.direct__carousel-content::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  z-index: -1;
}

@media screen and (max-width: 759px) {
  .direct__carousel-content {
    padding: 24px;
  }
}
.direct__carousel-content.direct__carousel-content_collapsed {
  top: 410px;
  padding-top: 20px;
  transition: top 0.2s ease-in;
}

@media screen and (max-width: 759px) {
  .direct__carousel-content.direct__carousel-content_collapsed {
    top: 330px;
  }
}
.direct__carousel-info {
  display: flex;
  align-items: center;
}

.direct__carousel-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: normal;
  color: #FDFDFD;
  width: 195px;
}

@media screen and (max-width: 759px) {
  .direct__carousel-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    width: 146px;
  }
}
.direct__carousel-note {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: normal;
  display: inline-block;
  opacity: 1;
}

@media screen and (max-width: 759px) {
  .direct__carousel-note {
    display: none;
  }
}
.direct__carousel-price {
  display: block;
  margin-left: 35px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: background-color 0.2s ease-in;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
}

.direct__carousel-price:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 759px) {
  .direct__carousel-price {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    padding: 6px 12px;
  }
}
.direct__carousel-text {
  margin-top: 38px;
  margin-bottom: 105px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
}

@media screen and (max-width: 759px) {
  .direct__carousel-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: normal;
  }
}
.footer {
  background-color: #1A3E3E;
  position: relative;
}

.footer__wrp {
  display: flex;
  padding: 178px 0 80px;
  justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1209px) {
  .footer__wrp {
    padding: 50px 0 80px;
  }
}
@media screen and (max-width: 759px) {
  .footer__wrp {
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__comp {
  max-width: 480px;
  margin-right: 20px;
}

@media screen and (max-width: 1209px) {
  .footer__comp {
    margin-right: 10px;
  }
}
.footer__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: normal;
  margin-bottom: 17px;
}

.footer__text {
  margin-bottom: 80px;
  font-size: 14px;
}

@media screen and (max-width: 759px) {
  .footer__text {
    margin-bottom: 30px;
  }
}
.footer__contact {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: normal;
  margin-bottom: 32px;
}

.footer__mail {
  display: inline-block;
  margin-right: 24px;
  color: #fff;
  transition: 0.2s ease-in;
}

.footer__mail:hover {
  color: #F2BE22;
}

.footer__numb {
  display: inline-block;
  color: #fff;
  transition: 0.2s ease-in;
}

.footer__numb:hover {
  color: #F2BE22;
}

.footer__socials {
  display: flex;
  column-gap: 16px;
}

.footer__socials-item {
  width: 24px;
  height: 24px;
  transition: 0.2s ease-in;
}

.footer__socials-item:hover {
  transform: scale(1.2);
}

.footer__col {
  max-width: 280px;
}

.footer__col + .footer__col {
  margin-left: 10px;
}

.footer__bot {
  padding: 24px 0;
  background-color: #18121E;
}

@media screen and (max-width: 759px) {
  .footer__bot {
    padding: 20px;
  }
}
.footer__bot-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: normal;
  color: #fff;
}

.footer__bot-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: normal;
  color: #fff;
  text-decoration: underline !important;
  transition: 0.2s ease-in;
}

.footer__bot-link:hover {
  color: #F2BE22;
}

.footer__bot-wrp {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 759px) {
  .footer__bot-wrp {
    text-align: center;
    flex-direction: column;
    row-gap: 8px;
  }
}
.form {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 40px 42px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 1209px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}
@media screen and (max-width: 759px) {
  .form {
    display: block;
    background-color: transparent;
    padding: 0;
  }
}
.form__col {
  width: 270px;
}

@media screen and (max-width: 759px) {
  .form__col:not(:last-child) {
    display: none;
  }
}
.form__adv {
  margin-top: 8px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 400;
}

.form__date-wrp {
  position: relative;
}

.form__date-wrp::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  /* Рисуем треугольник */
  width: 18px;
  height: 18px;
  background-image: url("/graphic/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* Снимаем клик с треугольника */
  pointer-events: none;
}

.form__date {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  border: 1px solid white;
  border-radius: 6px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.form__date::placeholder {
  color: #fff;
}

header {
  background-image: url("/images/main_page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 82px;
  color: #fff;
}

@media screen and (max-width: 759px) {
  header {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 1209px) {
  .menu_container {
    column-gap: 15px;
  }
}
.menu_container.header__top-row_mobile .btn {
  display: none;
}

.menu_container.header__top-row_mobile .header__mobile-list {
  display: block;
}

.menu_container.header__top-row_mobile .nav_button {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 6;
}

.nav_button {
  display: none;
}

@media screen and (max-width: 759px) {
  .nav_button {
    display: block;
  }
}
.header__mobile-list {
  padding: 50px 16px 0;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1A3E3E;
  z-index: 5;
}

.menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1209px) {
  .menu {
    flex-grow: 1;
    justify-content: center;
  }
}
@media screen and (max-width: 759px) {
  .header__nav {
    justify-content: flex-end;
  }
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}

@media screen and (max-width: 1209px) {
  .nav_container {
    column-gap: 10px;
  }
}
@media screen and (max-width: 759px) {
  .nav_container {
    display: none;
  }
}
.page {
  position: relative;
}

.page::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: width 0.2s ease-in;
}

.page:hover .link_to_page {
  color: #F2BE22;
}

.page:hover::before {
  width: 100%;
  background-color: #F2BE22;
}

.link_to_page {
  font-weight: 600;
  line-height: 1.36;
  color: #fff;
}

.header__btn {
  margin-left: 50px;
}

@media screen and (max-width: 1209px) {
  .header__btn {
    display: none;
  }
}
.main_page {
  margin-top: 463px;
}

@media screen and (max-width: 759px) {
  .main_page {
    margin-top: 234px;
  }
}
.title_1 {
  max-width: 1080px;
  margin-bottom: 41px;
  text-transform: uppercase;
}

@media screen and (max-width: 759px) {
  .title_1 {
    font-size: 28px;
  }
}
.info-list {
  min-width: 280px;
}

.mv_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mv_page + .mv_page {
  margin-top: 16px;
}

.mv_link {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: normal;
  color: #fff;
}

.mv_link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-width: 2px 2px 0px 0px;
  border-radius: 1px;
  transition: all 0.2s ease-in;
}

.mv_link:hover {
  color: #F2BE22;
  text-decoration: underline;
}

.mv_link:hover::before {
  border-color: #F2BE22;
  left: 4px;
}

.info-list__new {
  display: inline-block;
  justify-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1A3E3E;
  padding: 2px 10px;
  background-color: #fff;
  border-radius: 4px;
  text-transform: lowercase;
}

.mailing {
  padding: 40px 100px;
  box-shadow: 0px 0px 12px 0px rgba(18, 30, 31, 0.2);
  background-color: #FDFDFD;
  max-width: 1180px;
  text-align: left;
}

@media screen and (max-width: 1209px) {
  .mailing {
    padding: 24px 50px;
  }
}
@media screen and (max-width: 759px) {
  .mailing {
    padding: 24px;
  }
}
.mailing__wrp {
  display: flex;
  column-gap: 64px;
}

@media screen and (max-width: 759px) {
  .mailing__wrp {
    flex-direction: column;
  }
}
@media screen and (max-width: 1209px) {
  .mailing__col {
    text-align: left;
  }
}
.mailing__note {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: normal;
}

.mailing__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
}

@media screen and (max-width: 759px) {
  .mailing__title {
    margin-bottom: 24px;
  }
}
.mailing__form {
  flex-grow: 1;
}

.mailing__form-enter {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: normal;
}

.mailing__form-row {
  margin: 8px 0;
  display: flex;
}

@media screen and (max-width: 1209px) {
  .mailing__form-row {
    flex-direction: column;
    margin: 18px 0px 24px;
  }
}
@media screen and (max-width: 759px) {
  .mailing__form-row {
    margin: 8px 0px 24px;
  }
}
.mailing__input {
  display: inline-block;
  margin-right: 16px;
  padding: 12px 16px;
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42;
  letter-spacing: normal;
  background-color: #F3F5F4;
  color: #18121E;
}

@media screen and (max-width: 1209px) {
  .mailing__input {
    width: 100%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 759px) {
  .mailing__input {
    margin-right: 0;
  }
}
.mailing__btn {
  max-width: 240px;
}

.mailing__agreement {
  color: #18121E;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: normal;
}

.mailing__agreement a {
  text-decoration: underline;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 30px;
  --height: 30px;
  --line-height: 3px;
  --first-line-margin: 5;
  --second-line-margin: 5;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * 5);
}

.nav-icon::after {
  top: calc(var(--line-height) * -5);
  width: 60%;
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  width: var(--width);
  transform: rotate(-45deg);
}

.offer {
  padding: 80px 0 100px;
  background-color: #F3F5F4;
}

.offer__wrp {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1209px) {
  .offer__wrp {
    column-gap: 25px;
  }
}
.offer__content {
  max-width: 580px;
}

@media screen and (max-width: 759px) {
  .offer__content {
    display: flex;
    flex-direction: column;
  }
}
.offer__title {
  margin-top: 8px;
  margin-bottom: 40px;
}

.offer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
}

.offer__adventages {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1209px) {
  .offer__adventages {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.offer__adventages-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1209px) {
  .offer__adventages-item {
    align-items: flex-start;
  }
}
.offer__adventages-item + .offer__adventages-item {
  margin-top: 40px;
}

.offer__adventages-img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  flex-shrink: 0;
}

.offer__adventages-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: normal;
}

.offer__adventages-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: normal;
}

@media screen and (max-width: 759px) {
  .offer__btn {
    align-self: center;
  }
}
.offer__images {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 10px;
  margin-left: 90px;
}

@media screen and (max-width: 1209px) {
  .offer__images {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 759px) {
  .offer__images {
    display: none;
  }
}
.offer__images-item {
  border-radius: 50px 0px 50px 0px;
  overflow: hidden;
}

@media screen and (max-width: 1209px) {
  .offer__images-item {
    border-radius: 20px;
  }
}
@media screen and (max-width: 1209px) {
  .offer__images-item:nth-child(odd) {
    display: none;
  }
}
.offer__images-item:first-child,
.offer__images-item:last-child {
  border-radius: 0px 50px 0px 50px;
}

@media screen and (max-width: 1209px) {
  .offer__images-item:first-child,
  .offer__images-item:last-child {
    border-radius: 20px;
  }
}
.place {
  display: flex;
  padding: 16px;
  max-width: 580px;
  background-color: #FDFDFD;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.place:hover {
  box-shadow: 0px 0px 12px 0px rgba(18, 30, 31, 0.2);
  transform: translateY(-10px);
}

@media screen and (max-width: 1209px) {
  .place {
    width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .place {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 16px 0;
  }
}
.place__img {
  width: 230px;
  height: 280px;
  margin-right: 24px;
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
}

@media screen and (max-width: 759px) {
  .place__img {
    margin-right: 0;
  }
  .place__img img {
    width: 100%;
    height: auto;
  }
}
.place__content {
  text-align: left;
  position: relative;
  flex-grow: 2;
}

@media screen and (max-width: 759px) {
  .place__content {
    padding: 0 16px;
    width: 100%;
  }
}
.place__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: normal;
  width: 100%;
  color: #18121E;
  transition: color 0.2s ease-in;
}

.place__title:hover {
  color: #1A3E3E;
  text-decoration: underline;
}

.place__text {
  max-height: 116px;
  margin: 24px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: normal;
  overflow: hidden;
}

@media screen and (max-width: 759px) {
  .place__text {
    margin-bottom: 32px;
  }
}
.place__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 759px) {
  .place__bottom {
    padding: 0 16px;
  }
}
.place__date {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: normal;
  color: #F2BE22;
}

.place__read {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: normal;
  color: #1A3E3E;
}

.place__read:hover {
  text-decoration: underline;
}

.share {
  padding: 80px 0 198px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1209px) {
  .share {
    padding: 50px 0 50px;
  }
}
.share__note {
  margin-bottom: 8px;
}

.share__title {
  margin-bottom: 40px;
}

@media screen and (max-width: 1209px) {
  .share__title {
    margin-bottom: 20px;
  }
}
.share__photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1209px) {
  .share__photos {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 759px) {
  .share__photos {
    grid-template-columns: 1fr;
  }
}
.share__photos-item {
  grid-column: span 1;
  border-radius: 6px;
  overflow: hidden;
}

.share__photos-item img {
  transition: transform 0.2s ease-in;
}

.share__photos-item:hover img {
  transform: scale(1.2);
}

.share__photos-item_big {
  grid-column: span 2;
}

@media screen and (max-width: 1209px) {
  .share__photos-item_big {
    grid-column: span 3;
  }
}
@media screen and (max-width: 759px) {
  .share__photos-item_big {
    grid-column: span 1;
  }
}
.share__mailing {
  position: absolute;
  transform: translateY(50%);
  z-index: 3;
}

@media screen and (max-width: 1209px) {
  .share__mailing {
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 1209px) {
  .share__btn {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
